@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-[75px];
  }
  li {
    list-style: none;
  }
}

@layer components {
  .container {
    @apply w-[1200px] px-5 mx-auto;
  }
  
  .mobile_view {
   display: flex !important; /* Default to flex (visible) on mobile */
  }
  .loader{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
  }
  .loader p{
    
    text-align: center;
    margin-top: 3px;
    color: #10B981;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .mobile_view {
    display: none !important; /* Hide on medium screens and above */
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }
  section {
    @apply py-[35px];
  }
}
